@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 50px;
}

main {
    max-width: 340px;
    background-color: white;
    border-radius: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container img {
    width: 300px;
    border-radius: 20px;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0 20px 0;
}

.texts h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 2rem;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.texts p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 18px;
    text-align: center;
}

a {
    text-decoration: none;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1440px) {
    main {
        max-width: 360px;
    }

    .texts p {
        padding-inline: 20px;
    }
}
